.truth-dare-dialog-container {
    padding: 24px;
    .title { 
        text-align: center;
        font-size: 28px;
    }

    .question { 
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 1.4;
    }
}